    /* 版心的公共类 */
    
    .w {
        width: 1190px;
        margin: 0 auto;
    }
    
    .iconfont {
        font-family: iconfont, sans-serif;
        font-style: normal;
        -webkit-text-stroke-width: .2px;
    }
    
    * {
        margin: 0;
        padding: 0;
        border: 0;
    }
    
    .fl {
        float: left;
    }
    
    .fr {
        float: right;
    }
    
    body {
        background-color: #f4f4f4;
        font: 12px/1.5 Microsoft YaHei, Heiti SC, tahoma, arial, Hiragino Sans GB, "\5B8B\4F53", sans-serif;
        /* line-height: 1.5; */
    }
    
    ul {
        list-style: none;
        margin: 0;
        padding: 0;
    }
    
    a {
        text-decoration: none;
        color: #999;
    }
    
    .red {
        color: #e33333!important;
    }
    
    h1 {
        margin: 0;
    }
    
    input {
        outline: none;
    }
    
    input::-webkit-input-placeholder {
        color: #989898;
    }
    
    i {
        font-family: "icomoon";
        font-style: normal;
    }
    
    a:hover {
        color: #c81623;
    }
    /* 声明字体 */
    
    @font-face {
        font-family: 'icomoon';
        src: url('../fonts/icomoon.eot?xwl767');
        src: url('../fonts/icomoon.eot?xwl767#iefix') format('embedded-opentype'), url('../fonts/icomoon.ttf?xwl767') format('truetype'), url('../fonts/icomoon.woff?xwl767') format('woff'), url('../fonts/icomoon.svg?xwl767#icomoon') format('svg');
        font-weight: normal;
        font-style: normal;
        font-display: block;
    }
    
    @font-face {
        font-family: 'iconfont';
        src: url(../jdfont/ba43574760fe93a35fca3c6f9b9e73f4.eot);
        src: url(../jdfont/ba43574760fe93a35fca3c6f9b9e73f4.eot#iefix) format("embedded-opentype"), url(../jdfont/a84f5777e97992c6fb6d423c003f187b.woff) format("woff"), url(../jdfont/43f6b5fd284d120fd59582a14e3e0844.ttf) format("truetype"), url(../jdfont/jdfont.svg#iconfont) format("svg")
    }
    /* header部分 */
    
    header {
        height: 80px;
        background-color: #ea1311;
    }
    
    .adv {
        position: relative;
    }
    
    .adv::after {
        position: absolute;
        right: 0;
        top: 5px;
        display: block;
        content: "\E600";
        font-family: "iconfont";
        font-size: 14px;
        height: 20px;
        width: 20px;
        height: 20px;
        text-align: center;
        background: #2d2d2d;
        opacity: 0.3;
        background-color: #2d2d2d;
        ;
        color: #fff;
        cursor: pointer;
    }
    
    #shortcut {
        background-color: #e3e4e5;
        height: 30px;
        border-bottom: 1px solid #ddd;
        color: #999;
        line-height: 30px;
    }
    
    .nav {
        height: 30px;
        background-color: #e3e4e5;
    }
    
    .nav li {
        color: #999;
        line-height: 30px;
    }
    
    .nav a {
        color: #999;
        line-height: 30px;
    }
    
    .fr li {
        float: left;
        margin-right: 1px;
        padding: 0 7px;
    }
    
    .fr .spacer {
        width: 1px;
        height: 10px;
        margin: 11px 5px;
        margin-bottom: 0px;
        background-color: #ccc;
        padding: 0!important;
    }
    
    #shortcut i {
        font-family: "icomoon";
        font-style: normal;
        font-size: 12px;
    }
    
    .nav a:hover {
        color: #c81623;
    }
    
    #shortcut .fr .iconfont {
        /* position: absolute; */
        right: 5px;
        top: 10px;
        width: 12px;
        height: 12px;
        line-height: 12px;
        font-size: 14px;
    }
    
    #shortcut .city-logo {
        font-size: 14px;
        margin-right: 4px;
        color: #f10215
    }
    
    .mobile {
        width: 60px;
        text-align: center;
        position: relative;
        z-index: 1;
    }
    
    .mobile-image {
        position: absolute;
        top: 35px;
        left: 0px;
        width: 76px;
        height: 76px;
        background-color: #fff;
        box-shadow: 0 2px 8px rgba(0, 0, 0, .1);
    }
    
    .mobile-image img {
        position: absolute;
        top: 5px;
        left: 5px;
        width: 66px;
        height: 66px;
    }
    /* 中间部分 */
    
    .middle-big {
        border-bottom: 1px solid #ddd;
        background-color: #fff;
    }
    
    .middle {
        position: relative;
        height: 140px;
        background-color: #fff;
    }
    
    .logo {
        display: block;
        width: 190px;
        height: 120px;
        background: url(../images/sprite.png) no-repeat;
        background-position: 0 0;
        cursor: pointer;
        /* background-size: 134px 120px; */
        /* background-color: red; */
    }
    
    #logo {
        position: absolute;
        top: 10px;
    }
    
    #search {
        background-color: pink;
        z-index: 999;
        height: 60px;
    }
    
    .search-m {
        position: relative;
        background-color: pink;
        height: 60px;
        font-family: 'icomoon';
    }
    
    .search-box {
        position: absolute;
        top: 25px;
        left: 260px;
        background-color: #fff;
        height: 33px;
        width: 551px;
        border: 2px solid #e2231a
    }
    
    #key {
        float: left;
        height: 31px;
        width: 429px;
        border: 1px solid transparent;
        font-size: 12px;
        line-height: 26px;
        padding-left: 17px;
        padding-right: 44px;
        /* color: #989898; */
        font-family: "icomoon";
        font-style: normal;
    }
    
    .button {
        float: right;
        height: 33px;
        width: 58px;
        border: 0;
        background-color: #e2231a;
        font-family: 'icomoon';
        cursor: pointer;
    }
    
    .button:hover {
        background-color: #c81623;
    }
    
    .button i {
        /* font-family: 'icomoon'; */
        font-family: "icomoon";
        font-style: normal;
        color: #fff;
        font-weight: 700;
        font-size: 20px
    }
    
    .camera i {
        position: absolute;
        right: 76px;
        top: 10px;
        display: block;
        font-family: "iconfont";
        font-style: normal;
        font-size: 20px;
        line-height: 14px;
        cursor: pointer;
        color: #9f9f9f;
    }
    
    .camera i:hover {
        color: #c81623;
    }
    /* 我的购物车 */
    
    .shopping-car {
        overflow: hidden;
        position: relative;
        left: 791px;
        top: 25px;
        width: 130px;
        height: 35px;
        border: 1px solid #eee;
    }
    
    .shopping-car:hover {
        border: 1px solid#c81623;
    }
    
    .shopping-car a {
        color: #c81623;
        line-height: 34px;
        text-align: center;
        cursor: pointer;
    }
    
    .shopping-car i {
        font-family: iconfont, sans-serif;
        font-style: normal;
        font-size: 16px;
        line-height: 34px;
        margin-right: 13px;
        margin-left: 18px;
        color: #c81623;
    }
    
    #shopping-amount {
        position: absolute;
        top: 1px;
        left: 10px;
        right: auto;
        display: inline-block;
        padding: 1px 3px;
        font-size: 12px;
        line-height: 12px;
        color: #fff;
        background-color: #e1251b;
        border-radius: 7px;
        min-width: 12px;
        text-align: center;
    }
    /* hotwords部分 */
    
    #hotwords {
        overflow: hidden;
        position: absolute;
        left: 260px;
        top: 65px;
        width: 550px;
        height: 20px;
        line-height: 20px;
        /* background-color: pink; */
    }
    
    #hotwords a:hover {
        color: #c81623;
    }
    
    #hotwords a {
        float: left;
        display: inline-block;
        height: 20px;
        margin-right: 10px;
        line-height: 20px;
        font-size: 12px;
    }
    /* navitems部分 */
    
    #navitems {
        position: absolute;
        bottom: 0;
        left: 203px;
    }
    
    #navitems li {
        float: left;
        margin: 0 11px;
        cursor: pointer;
    }
    
    #navitems a {
        display: block;
        height: 40px;
        line-height: 40px;
        font-size: 15px;
        color: #333333;
    }
    
    #navitems a:hover {
        color: #c81623;
    }
    
    #navitems .navitems-red {
        font-weight: 700;
        color: #e1251b;
    }
    /* 底部 */
    
    .footer {
        height: 568px;
        background-color: #f4f4f4;
    }
    /* 服务模块 */
    
    .service-inner {
        overflow: hidden;
        padding: 30px 0;
    }
    
    .service {
        border-bottom: 1px solid #dedede;
    }
    
    .service li {
        float: left;
        width: 297px;
    }
    
    .service-tit {
        position: absolute;
        left: 0;
        width: 36px;
        height: 42px;
        background-color: pink;
        background: url(../images/ico.png) no-repeat;
        text-indent: -9999px;
    }
    
    .kuai {
        background-position-y: -43px;
    }
    
    .hao {
        background-position-y: -86px;
    }
    
    .sheng {
        background-position-y: -129px;
    }
    
    .service-text {
        overflow: hidden;
        width: 100%;
        height: 42px;
        line-height: 42px;
        font-size: 18px;
        font-weight: 700;
        text-overflow: ellipsis;
        white-space: nowrap;
        color: #444;
    }
    
    .service-item {
        position: relative;
        padding-left: 45px;
        margin: 0 auto;
        width: 180px;
    }
    /* 帮助 */
    
    .help {
        height: 200px;
        padding: 20px 0;
        box-sizing: border-box;
    }
    
    .help-inner {
        line-height: 22px;
        height: 160px;
        margin: 0 auto;
    }
    
    .help h5 {
        margin-bottom: 5px;
        font-size: 14px;
        color: #666;
    }
    
    .help a {
        color: #666;
        font-size: 12px;
        cursor: pointer;
    }
    
    .help a:hover {
        color: #c81623;
    }
    
    .help-nav {
        float: left;
        width: 198px;
    }
    
    .help-cover {
        float: right;
        width: 200px;
    }
    
    .cover-info {
        color: #666;
        font-size: 12px;
    }
    
    .cover-detail {
        text-align: right;
    }
    
    .help-cover h5 {
        margin-bottom: 15px;
        text-align: center;
    }
    
    .help-cover-con {
        padding: 0 10px;
    }
    /* copyright模块 */
    
    .copyright-inner {
        border-top: 1px solid #dedede;
        margin: 0 auto;
        padding: 15px 0;
        text-align: center;
    }
    
    .copyright-link {
        text-align: center;
    }
    
    .copyright-link a {
        color: #666;
    }
    
    .copyright-split {
        color: #ccc;
        margin: 0 10px;
        padding: 0;
        text-align: center;
    }
    
    .copyright-info {
        padding: 10px 0;
        color: #999;
        line-height: 22px;
    }
    
    .copyright-link a:hover {
        color: #c81623;
    }
    
    .global {
        display: inline-block;
        height: 12px;
        width: 15px;
        background: url(../images/footer.png) no-repeat;
        background-position: -108px -155px;
        margin-right: 10px;
        margin-top: -1px;
        vertical-align: -1px;
    }
    
    .g1 {
        background-position: -128px -155px;
    }
    
    .g2 {
        background-position: -148px -155px;
    }
    
    .g3 {
        background-position: -168px -155px;
    }
    
    .copyright-auth {
        height: 32px;
        margin: 25px 0;
        text-align: center;
    }
    
    .auth-ico {
        display: inline-block;
        width: 103px;
        height: 32px;
        background: url(../images/footer.png) no-repeat;
        background-position: -205px -111px;
        margin: 0 3px;
    }
    
    .auth2 {
        background-position: -205px -74px;
    }
    
    .auth3 {
        background-position: -205px -37px;
        /* background: url(../images/footer2.png) no-repeat; */
    }
    
    .auth4 {
        background: url(../images/footer2.png) no-repeat;
        background-position: 0px -66px;
    }
    
    .auth5 {
        background: url(../images/footer2.png) no-repeat;
        background-position: 0px -99px;
    }
    
    .auth6 {
        background: url(../images/footer2.png) no-repeat;
        background-position: -104px -66px;
    }